/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: Roboto, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
}

body.modal-open {
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

p {
  color: #757575;
}

a {
  color: #212121;
}

ul,
menu {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.17;
}

.page-footer .logo {
  color: #ffffff;
}

.logo-accent {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
  .page-header .logo {
    margin-right: 85px;
  }
  .page-footer .logo {
    margin-bottom: 10px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.page-header {
  position: relative;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-menu {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.site-menu-ref {
  position: relative;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-menu-ref:hover, .site-menu-ref:focus {
  color: #2196f3;
}

.current-page .site-menu-ref {
  color: #2196f3;
}

.current-page .site-menu-ref:after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.contacts {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.contacts-ref {
  text-decoration: none;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-ref:hover, .contacts-ref:focus {
  color: #2196f3;
}

.contacts li:hover {
  fill: #2196f3;
}

.mailto,
.tel {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .main-nav {
    height: 60px;
  }
  .menu-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-button:hover, .menu-button:focus {
    fill: #2196f3;
  }
  .menu-button .icon-menu {
    display: none;
  }
  .menu-button.is-open .icon-menu {
    display: block;
  }
  .menu-button.is-open .icon-cross {
    display: none;
  }
  .menu-container {
    position: absolute;
    z-index: 999;
    display: none;
    padding: 60px 15px;
    top: 100%;
    left: 0;
    width: 100%;
    height: 393px;
    text-align: center;
    font-size: 18px;
    line-height: 1.17;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
  }
  .menu-container.is-open {
    display: block;
  }
  .menu-container .contacts li + li {
    margin-top: 16px;
  }
  .site-menu {
    margin-bottom: 60px;
  }
  .current-page .site-menu-ref:after {
    left: 0;
    bottom: -8px;
  }
  .site-menu-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
  }
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .site-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 81px;
  }
  .site-menu-item:not(:last-child) {
    margin-right: 50px;
  }
  .site-menu-ref {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .current-page .site-menu-ref:after {
    bottom: 0px;
  }
  .mailto,
  .tel {
    margin-right: 10px;
  }
  .contacts {
    margin-left: auto;
  }
  .contacts li + li {
    padding-top: 10px;
  }
  .contacts-ref {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .site-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 85px;
  }
  .contacts {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .contacts li + li {
    padding-top: 0;
    margin-left: 30px;
  }
  .contacts li + li-ref {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .page-footer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .page-footer .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer .contact-info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer .contact-info {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .studio-info,
  .social-links,
  .subscription,
  .subscr-input {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.studio-info address {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .studio-info {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .studio-info {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .studio-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .studio-info {
    margin-right: 69px;
  }
}

b {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

address {
  font-style: normal;
}

.footer-address,
.footer-address-box {
  line-height: 1.71;
}

.footer-address > a {
  color: #ffffff;
  text-decoration: none;
}

.footer-address-box > a,
.footer-developed {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.social-links {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 767px) {
  .social-links {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .social-links {
    text-align: center;
  }
}

.footer-social-links {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-links-icons {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-icons:not(:last-child) {
  margin-right: 10px;
}

.social-links-icons:hover, .social-links-icons:focus {
  background-color: #2196f3;
  cursor: pointer;
}

.social-links-icons > a {
  color: #ffffff;
  fill: currentColor;
}

.social-links-icons svg {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1199px) {
  .subscription {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .subscription {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.subscription > b {
  display: block;
  margin-bottom: 20px;
}

.subscr-input {
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscr-input {
    margin-left: auto;
    margin-right: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.email {
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .email {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .email {
    width: 358px;
  }
}

.email-label {
  position: absolute;
  bottom: calc(50% + 15px);
  left: 16px;
  -webkit-transform: translateY(calc(-50%));
          transform: translateY(calc(-50%));
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 609px) {
  .email:focus + .email-label {
    opacity: 0;
  }
}

@media screen and (min-width: 1200px) {
  .email-label {
    bottom: calc(50% - 10px);
  }
}

.email:focus + label,
.email:not(:placeholder-shown) + .email-label {
  -webkit-transform: translate(-170%, -50%) scale(1.2);
          transform: translate(-170%, -50%) scale(1.2);
}

.mail-button {
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .mail-button {
    margin-left: 12px;
  }
}

@media screen and (max-width: 1199px) {
  .mail-button {
    margin-left: auto;
    margin-right: auto;
  }
}

.portfolio-works {
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 40px;
}

.portfolio-navigation-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-navigation button {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-navigation button:hover, .portfolio-navigation button:focus {
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .portfolio-navigation-item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-navigation {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .portfolio-works {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .portfolio-navigation {
    margin-bottom: 50px;
  }
}

.portfolio-works-list {
  padding-left: 0;
}

.portfolio-works-list-item:hover {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  /* background-attachment: local;
  background-origin: border-box; */
}

.portfolio-works-list-item:hover .hover-text {
  opacity: 1;
}

.portfolio-works-list-item:hover .portfolio-works-pic:before,
.portfolio-works-list-item:focus .portfolio-works-pic:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.portfolio-works-list:hover .portfolio-works-pic {
  border: none;
}

.works-ref {
  text-decoration: none;
}

.portfolio-works-pic {
  position: relative;
  border-top: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  overflow: hidden;
}

.portfolio-works-pic > img {
  width: 100%;
}

.portfolio-works-pic:before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #2196f3;
}

.portfolio-works-info {
  padding: 20px 24px;
  background-color: #ffffff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-works-list h2 {
  font-size: 18px;
  line-height: 2;
}

.portfolio-works-p {
  font-size: 16px;
  line-height: 1.88;
}

.hover-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .portfolio-works-list-item {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .portfolio-works-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-works-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .portfolio-works-list-item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-works-list-item {
    width: calc((100% - 3 * 30px) / 3);
  }
}
/*# sourceMappingURL=portfolio.css.map */