.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  h2 {
    @include h2;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  &-card {
    margin: 15px;
    height: 90px;
    width: calc((100% - 2 * 30px) / 2);

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid $svgColor;
    border-radius: 4px;
    fill: $svgColor;
    transition: border-color $trDuration $timingFn, fill $trDuration $timingFn;

    @media screen and (min-width: $tablet) {
      width: 210px;
    }

    @media screen and (min-width: $desktop) {
      width: 170px;
    }

    &:hover,
    &:focus {
      border-color: $accentColor;
      fill: $accentColor;
      cursor: pointer;
    }
  }

  &-link {
    fill: inherit;

    & > .logo-1 {
      width: 44px;
      height: 49px;
    }

    & > .logo-2 {
      width: 40px;
      height: 52px;
    }

    & > .logo-3 {
      width: 41px;
      height: 43px;
    }

    & > .logo-4 {
      width: 80px;
      height: 42px;
    }

    & > .logo-5 {
      width: 59px;
      height: 47px;
    }

    & > .logo-6 {
      width: 88px;
      height: 45px;
    }
  }
}
